    
body {
    font-family: verdana, arial, sans-serif; 
    font-size: 1em;
}
th {
    color: white; 
    background: #0066CC; 
    text-align: left;
}

p.correcto{
    background-color: green;
    display: inline;
}
p.error{
    background-color: red;
    display: inline;
}
